:root {
    --max-width: 300px;
    --gradient1: #fb21ff;
    --gradient2: #0267ff;
    --background: #f3f3f3;
    --item-background: #fbfbfb;
    --item-border: #e5e5e5;
    --item-hover: #f6f6f6;
    --dark-gray: #868686;
    --light-gray: #d3d3d3;
    --button-main-background: #0067c0;
    --button-main-border-light: #1473c5;
    --button-main-border-shadow: #003e73;
    --button-main-hover: #1975c5;
    --button-main-press: #3183ca;
    --text-light: #ffffff;
    --text-light-transparent: #ffffffaf;
    --text-dark: #000;
    --text-dark-transparent: #0000007f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --max-width: 300px;
        --gradient1: #fb21ff;
        --gradient2: #0267ff;
        --background: #202020;
        --item-background: #2b2b2b;
        --item-border: #1d1d1d;
        --item-hover: #323232;
        --dark-gray: #9a9a9a;
        --light-gray: #3a3a3a;
        --button-main-background: #4cc2ff;
        --button-main-border-light: #5ac7ff;
        --button-main-border-shadow: #42a7dc;
        --button-main-hover: #48b2e9;
        --button-main-press: #45a4d5;
        --text-light: #000;
        --text-light-transparent: #0000007f;
        --text-dark: #fff;
        --text-dark-transparent: #ffffffaf;
    }
}

@font-face {
    font-family: OneUISans;
    src: url(../fonts/text_oneuisans.ttf);
}

@font-face {
    font-family: SamsungSharpSans;
    src: url(../fonts/title_samsungsharpsans.ttf);
}

h1 {
    font-family: SamsungSharpSans;
}

body {
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    font-family: OneUISans;
}

form {
    width: 100vw;
    max-width: var(--max-width);
    margin: 10px;
}

input {
    width: inherit;
    max-width: calc(var(--max-width) - 18px);
    padding: 7px;
    outline: 0px;
    border: 2px solid var(--item-border);
    border-bottom: 2px solid #0000;
    border-radius: 4px;
    background: var(--item-background);
    background-image: linear-gradient(var(--item-background), var(--item-background)), 
                      linear-gradient(to right, var(--dark-gray), var(--dark-gray));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: var(--text-dark);
}

input[type=radio] {
    width: auto;
    min-width: auto;
}

input:hover {
    background-image: linear-gradient(var(--item-hover), var(--item-hover)), 
                      linear-gradient(to right, var(--dark-gray), var(--dark-gray));
}

input:hover:focus {
    background-image: linear-gradient(var(--item-background), var(--item-background)), 
                      linear-gradient(to right, var(--gradient1), var(--gradient2));
}

input:focus {
    margin-bottom: -0.66px;
    border-bottom: 3px solid #00000000;
    background-image: linear-gradient(var(--item-background), var(--item-background)), 
                      linear-gradient(to right, var(--gradient1), var(--gradient2));
}

fieldset {
    background-color: var(--item-background);
    border: 2px solid var(--item-border);
    border-radius: 4px;
}

select {
    width: inherit;
    max-width: var(--max-width);
    padding: 7px;
    background-color: var(--item-background);
    border: 2px solid var(--item-border);
    border-bottom: 2px solid var(--light-gray);
    border-radius: 4px;
    color: var(--text-dark);
}

select:hover {
    background-color: var(--item-hover);
}

textarea {
    width: inherit;
    max-width: calc(var(--max-width) - 18px);
    padding: 7px;
    outline: 0px;
    border: 2px solid var(--item-border);
    border-bottom: 2px solid #0000;
    border-radius: 4px;
    background: var(--item-background);
    background-image: linear-gradient(var(--item-background), var(--item-background)), 
                      linear-gradient(to right, var(--dark-gray), var(--dark-gray));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: var(--text-dark);
}

textarea:hover {
    background-image: linear-gradient(var(--item-hover), var(--item-hover)), 
                      linear-gradient(to right, var(--dark-gray), var(--dark-gray));
}

textarea:hover:focus {
    background-image: linear-gradient(var(--item-background), var(--item-background)), 
                      linear-gradient(to right, var(--gradient1), var(--gradient2));
}

textarea:focus {
    margin-bottom: -0.66px;
    border-bottom: 3px solid #00000000;
    background-image: linear-gradient(var(--item-background), var(--item-background)), 
                      linear-gradient(to right, var(--gradient1), var(--gradient2));
}

button {
    width: 125px;
    border-radius: 4px;
    padding: 7px;
    color: var(--text-dark);
    background-color: var(--item-background);
    border: 2px solid var(--item-border);
    border-bottom: 2px solid var(--light-gray);
}

button:hover {
    background-color: var(--item-hover);
}

button:focus {
    background-color: var(--item-hover);
    color: var(--text-dark-transparent);
    border: 2px solid var(--item-border);
}

.button-main {
    width: 125px;
    border-radius: 4px;
    padding: 7px;
    color: var(--text-light);
    background-color: var(--button-main-background);
    border: 2px solid var(--button-main-border-light);
    border-bottom: 2px solid var(--button-main-border-shadow);
}

.button-main:hover {
    background-color: var(--button-main-hover);
}

.button-main:focus {
    background-color: var(--button-main-press);
    color: var(--text-light-transparent);
    border: 2px solid var(--button-main-border-light);
}

div {
    display: flex;
    justify-content: space-between;
}